<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>{{data.id}}</h1>
    <h1>{{data.game_title}}</h1>
    <p>{{data.game_introduction}}</p>
    {{each data.game_configuration}}
        <p>{{$value}}</p>
    {{/each}}

    <!-- {{each data}}
        <h1>{{$value.id}}</h1>
        <h1>{{$value.gaem_title}}</h1>
        <p>{{$value.game_introduction}}</p>
        <p>{{$value.game_configuration}}</p>
    {{/each}} -->
</body>
</html>