<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <button><a href='/mysql_text?page={{if value < 1}}1{{else}}{{value-0+1}}{{/if}}'>+</a></button>
    <button><a href='/mysql_text?page={{if value <= 1}}1{{else}}{{value-0-1}}{{/if}}'>-</a></button>
    <p>{{value}}</p>

    {{each data}}
        {{if data == ''}}
            <h1>null</h1>
            <p>null</p>
            <p>null</p>
            <p>null</p>
            <p>null</p>
        {{else}}
            <h1>{{$value.id}}</h1>
            <p>{{$value.name}}</p>
            <p>{{$value.sex}}</p>
            <p>{{$value.birthday}}</p>
        {{/if}}
    {{/each}}

</body>
</html>