<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.bootcdn.net/ajax/libs/font-awesome/5.15.3/css/all.css" rel="stylesheet">
    <style>
        img{
            width: 40%;
        }
    </style>
</head>
<body>
    {{if data.game_imgs != undefined }}
        {{each data.game_imgs}}
            <img src="../public/img/{{$value}}" alt="">
        {{/each}}       
    {{else}}
            <img src="../public/img/{{data.game_img}}" alt="">
    {{/if}}
</body>
    
</html>